
{% extends "base.html" %}
{% load static %}
{% load i18n wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
{% endblock extra_css %}


{% block content %}

{% image self.banner_image fill-900x400 as img %}

    <div style="background-image: url('{{img.url}}'); background-size: contain; background-repeat: no-repeat">
        {{ self.banner_title }}
        {{ self.banner_subtitle | richtext }}
        {% if self.banner_cta %}
            <button>Call to Action</button>
        {% endif %}
    </div>
{% endblock %}